
<div class="full">
    <h1 class="p-3 mb-2">AngularApp</h1>


<table class="table table-bordered">
    <tr>
        <td>
                <nav class="navbar navbar-expand-sm ">
                        <ul class="navbar-nav mr-auto">
                                <li class="nav-item "> 
                                    <a routerLink="home" routerLinkActive="active" class="nav-link">Home</a>
                                </li>
                                <li class="nav-item"> 
                                    <a routerLink="users" routerLinkActive="active" class="nav-link">Users List</a>
                                </li>
                                 <li class="nav-item"> 
                                    <a routerLink="books" routerLinkActive="active" class="nav-link">Books List</a>
                                </li>
                         
                                
                        </ul>
                         <div class="search">
                         <input id="search-input" type="search" id="form1" class="form-control" placeholder="Search"/>
                        </div>
                       
                </nav>
            
        </td>
    </tr>
    </table>

</div>
<div class = "container">
    <router-outlet></router-outlet>
</div>

